
* {
  font-family: 'Oswald', sans-serif;
}

h1.header {
  text-align: center;
  font-size: 35px;
  color: #4e4e4e;
  text-transform: uppercase;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

a.button {
  display: inline-block;
  color: #4e4e4e;
  font-size: 2em;
  border: 1px solid #4e4e4e;
  border-radius: 5px;
  width: 70px;
  padding: 8px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.15s ease-out, background-color 0.15s ease-out;
}

a.button:hover {
  background-color: #4e4e4e;
  color: #fff;
  transition: color 0.15s ease-in, background-color 0.15s ease-in;
}

div.screen {
  border: 1px solid #4e4e4e;
  border-radius: 5px;
  width: 410px;
  height: 100px;
  margin-bottom: 10px;
  text-align: right;
}

p#stage {
  margin: 5px 5px 20px;
  height: 30px;
  color: #4e4e4e;
  white-space: nowrap;
  overflow: auto;
}

p#result {
  font-size: 2em;
  margin: 0 5px 0;
  height: 30px;
  color: #4e4e4e;
}

::-webkit-scrollbar {
  height: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #4e4e4e;
}

@media screen and (max-width: 640px) {
  h1.header {
    font-size: 26px;
  }

  a.button {
    font-size: 1.5em;
    width: 30px;
    margin: 8px;
  }

  div.screen {
    width: 240px;
    height: 80px;
  }

  p#result {
    font-size: 1.2em;
    margin: 0 3px 0;
  }

  p#stage {
    margin: 3px 3px 10px;
    font-size: .8em;
  }
}
